@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #1c1c1c;
  --text: #fff;

  --primary: #e99000;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}